<!DOCTYPE html>
<html data-ng-app="proto">
    <head>
        <title>My index</title>
        <!-- These are the insertion points for the build script -->
        <!-- inject:head:css -->
        <!-- endinject -->
        <!-- inject:css -->
        <!-- any *.css files among your sources will go here as: <link rel="stylesheet" href="FILE"> -->
        <!-- endinject -->
        <!-- inject:head:js -->
        <!-- endinject -->
    </head>
    <body data-ng-app="proto">
        <tab-nav>
            <ul>
                <li ng-repeat="tab in tabNav.tabs" ng-click="tabNav.activateTab(tab)">
                    {{tab.title}}
                </li>
            </ul>
            <tab-nav-tab data-title="'Tab 1'">
                <h3>This is a tab?</h3>
                <tab-nav>
                    <ul>
                        <li ng-repeat="tab in tabNav.tabs" ng-click="tabNav.activateTab(tab)">
                            {{tab.title}}
                        </li>
                    </ul>
                    <tab-nav-tab data-title="'Subtab'" default>Subtab?</tab-nav-tab>
                    <tab-nav-tab data-title="'Subtab!!!!'">Subtab!</tab-nav-tab>
                </tab-nav>
            </tab-nav-tab>
            <tab-nav-tab data-title="'Tabberoo'" default>This is a tab!</tab-nav-tab>
            <tab-nav-tab data-title="'Taberusque'">This is a tab?!!@</tab-nav-tab>
        </tab-nav>
        <!-- inject:js -->
        <!-- any *.js files among your sources will go here as: <script src="FILE"></script> -->
        <!-- endinject -->
    </body>
</html>
